<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocktivity</title>
</head>

<body>
    <div>
        <header>
            <h1>
                <a href="/">Blocktivity</a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">Sign Out</button>
                {{else}}
                <a href="/login">Sign In</a>
                {{/if}}
            </nav>
        </header>
    </div>
    <main>
        {{{body}}}
    </main>
    <footer>
     
    </footer>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/add-site.js"></script>
</body>

</html>