<div>
    <h2>Site List</h2>
    <ol class="site-list">
        {{#each sites as |site|}}
        <li>
            {{>site-info site}}
        </li>
        {{/each}}
    </ol>
</div>


<form class="new-site">
    <label for="site-name">New Website:</label>
    <input id="site-name" name="site-name" />
    <div>
        <button id="add-site" class="btn-no-style">Add a site</button>
    </div>
</form>