<form class="signin">
    <div>
        <label for="email-signin">Email Address:</label>
        <input type="text" id="email-signin"/>
    </div>
    <div>
        <label for="pw-signin">Password:</label>
        <input type="password" id="pw-signin"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="signup">
    <div>
        <label for="email-create">Email Address:</label>
        <input type="text" id="email-create"/>
    </div>
    <div>
        <label for="un-create">Username:</label>
        <input type="text" id="un-create"/>
    </div>
    <div>
        <label for="pw-create">Password:</label>
        <input type="password" id="pw-create"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>