<form class="login">
    <div>
        <label for="e-login">Email Address:</label>
        <input type="text" id="e-login"/>
    </div>
    <div>
        <label for="pw-login">Password:</label>
        <input type="password" id="pw-login"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form>
    <div>
        <label for="e-signup">Email Address:</label>
        <input type="text" id="e-signup"/>
    </div>
    <div>
        <label for="un-signup">Username:</label>
        <input type="text" id="un-signup"/>
    </div>
    <div>
        <label for="pw-signup">Password:</label>
        <input type="password" id="pw-signup"/>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>

<script src="/javascript/login.js"></script>